################################################################################
# Project language
language: php
# Allows use container-based infrastructure
sudo: false
#sudo: required
dist: trusty

################################################################################
# Start mysql service
services:
  - mysql


################################################################################
# Cache composer packages so "composer install" is faster
cache:
  directories:
    - $HOME/.composer/cache/files

################################################################################
# Define an environment variable
env:
  global:
    - SYMFONY_DEPRECATIONS_HELPER=disabled


################################################################################
# Define Test Matrix
matrix:
  include:

    # Symfony 5.0 Branch
    - php: 7.4
      env: SF_VERSION="5.0.*"

    # Symfony 4.0 Branch
    - php: 7.4
      env: SF_VERSION="5.1.*"

  allow_failures:
    - env: SF_VERSION="4.2.*"

  # Fast finish allows to set the build as "finished" even if the "allow_failures" matrix elements are not finished yet.
  fast_finish: true

################################################################################
# Prepare Test Environment
before_install:
  - echo "Configuring The Bundles"
  - cp tests/config/parameters.yml.dist tests/config/parameters.yml
  - echo "Configuring Folders"
  - mkdir bin
  - cp tests/console bin/console
  - mkdir public
  - cp tests/public/* public
  - cp tests/public/.htaccess public/.htaccess

################################################################################
# GENERIC CONFIGURATION
################################################################################

################################################################################
# Install composer dependencies,
# Create database, schema and fixtures
install:
  # Setup Travis
  - curl -s https://raw.githubusercontent.com/SplashSync/Php-Bundle/master/src/Resources/travis/configure.sh  | bash
  # Setup Symfony Version if Required
  - curl -s https://raw.githubusercontent.com/SplashSync/Php-Bundle/master/src/Resources/travis/build_symfony.sh  | bash
  # Configure For Phpstan vs PHP Versions
  - curl -s https://raw.githubusercontent.com/SplashSync/Php-Bundle/master/src/Resources/travis/build_grumphp.sh  | bash
  # Install Symfony
  - curl -s https://raw.githubusercontent.com/SplashSync/Php-Bundle/master/src/Resources/travis/install.sh  | bash

################################################################################
# Run script
script:
  # Execute Grump Travis Testsuite
  - php vendor/bin/grumphp run --testsuite=travis
  # With PHP > 7.0 => Execute CsFixer
  - if [[ ${TRAVIS_PHP_VERSION:0:3} > "7.0" ]]; then php ./vendor/bin/grumphp run --testsuite=csfixer; fi
  # With PHP > 7.0 => Execute Phpstan
  - if [[ ${TRAVIS_PHP_VERSION:0:3} > "7.0" ]]; then php ./vendor/bin/grumphp run --testsuite=phpstan; fi
  # Execute PhpUnit Tests
  - vendor/bin/phpunit
  # Show Outdated Packages
  - composer outdated

################################################################################
# After a build, send email notification with the build results
notifications:
  email:
    on_success: never # default: change
    on_failure: never # default: always
